/**
 * 颜色块样式
 * waylau.com 2014-8-18
 */

.container {

    height: 140px;
    width:auto;
    TEXT-ALIGN: center;

}
.bgblue {
    display:inline-block;
    margin:0px 10px;
    background:#123456;/*把#123456换成你这个蓝色的值*/
    width: 80px;
    height: 80px;
    color:#fff;

}
